
.http

backend/node_modules
backend/.env

dashboard/node_modules   
dashboard/.env   
dashboard/src/data

landing page/node_modules
landing page/.env
landing page/howtostart.txt
landing page/.gitignore





